@model string

@{
    ViewBag.Title = "Start";
}


<input type="hidden" id="isWhitePlayer" value="false" />
<input type="hidden" id="isBlackPlayer" value="false" />
<input type="hidden" id="token" value="" />

<h2>Partie @Model</h2>

<!-- première ligne pour les infos -->
<div class="row">
    <div class="col-md-6 alignRight" id="whiteBtnDiv">
        <button type="button" id="whiteBtn" class="btn" disabled>Jouer avec les blancs</button><br />
    </div>
    <div class="col-md-6" id="blackBtnDiv">
        <button type="button" id="blackBtn" class="btn" disabled>Jouer avec les noirs</button>
    </div>
</div>
<br />


<script type="text/javascript">
    var party = {
        Id: 0,
        Name: '',
        Board: '',
        WhiteToken: '',
        BlackToken: '',
        WhiteTurn: true,
        IsReady: false,
        WhiteAskToPlay: false,
        BlackAskToPlay: false,
    }

    var myBoard;

    $(document).ready(function () {
        // récupération de la partie
        var partyName = { name: '@Model' };
        $.ajax({
            url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/party"))',
            data: partyName,
            cache: false,
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            mapParty(data);
            myBoard = JSON.parse(party.Board);
            refreshCanvas();
            // on tente de voir si on a des données de cookies
            $.ajax({
                url: "/Player/GetPlayerPartyName",
                type: "get",
                success: function (dataPartyName) {
                    if (dataPartyName == partyName.name) {
                        $.ajax({
                            url: "/Player/GetPlayerToken",
                            type: "get",
                            success: function (dataToken) {
                                $('#token').val(dataToken);

                                // on récupère la couleur via l'API
                                $.ajax({
                                    url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/player"))',
                                    data: { partyName: party.Name, token: dataToken },
                                    cache: false,
                                    type: 'GET',
                                    dataType: "json",
                                    contentType: 'application/json; charset=utf-8'
                                }).done(function (data) {
                                    if (data.IsWhite == true)
                                        ImWhitePlayer(dataToken);
                                    if (data.IsBlack == true)
                                        ImBlackPlayer(dataToken);
                                });
                            }
                        });
                    }
                    else {
                        if (false == isEmpty(party.WhiteToken)) {
                            $('#whiteBtn').prop('disabled', true);
                            $('#whiteBtn').removeClass('btn-success');
                        }
                        else {
                            $('#whiteBtn').prop('disabled', false);
                            $('#whiteBtn').addClass('btn-success');
                        }

                        if (false == isEmpty(party.BlackToken)) {
                            $('#blackBtn').prop('disabled', true);
                            $('#blackBtn').removeClass('btn-success');
                        }
                        else {
                            $('#blackBtn').prop('disabled', false);
                            $('#blackBtn').addClass('btn-success');
                        }
                    }
                }
            });

            RefreshPartyState();
        });


        // abonnements aux clics sur les boutons
        $("#whiteBtn").click(function () {
            party.WhiteAskToPlay = true;
            addPlayer('white');
        });

        $("#blackBtn").click(function () {
            party.BlackAskToPlay = true;
            addPlayer('black');
        });
    });

    $(function () {
        var partyHub = $.connection.partyHub;
        partyHub.client.addNewMessageToPage = function (name, message) {

            if ($("#discussion li").length > 10) {
                $('#discussion li:last').remove();
            }

            $('#discussion').prepend('<li><strong>' + htmlEncode(name)
                + '</strong>: ' + htmlEncode(message) + '</li>');
        };

        partyHub.client.addPlayerWhite = function () {
            $('#whiteBtn').prop('disabled', true);
            $('#whiteBtn').html('Joueur connecté');
            $('#whiteBtn').removeClass('btn-success');

            // on recharge la partie
            reloadParty();
        };

        partyHub.client.addPlayerBlack = function () {
            $('#blackBtn').prop('disabled', true);
            $('#blackBtn').html('Joueur connecté');
            $('#blackBtn').removeClass('btn-success');

            // on recharge la partie
            reloadParty();
        };

        $('#displayname').val('Anonymous');
        $('#message').focus();
        $.connection.hub.start().done(function () {
            partyHub.server.joinParty('@Model');

            $('#sendmessage').click(function () {
                partyHub.server.sendMessage('@Model', $('#displayname').val(), $('#message').val());
                $('#message').val('').focus();
            });
        });
    });

    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function reloadParty() {
        var partyName = { name: '@Model' };
        $.ajax({
            url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/party"))',
            data: partyName,
            cache: false,
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            mapParty(data);
            RefreshPartyState();
            myBoard = JSON.parse(party.Board);
        });
    }

    function addPlayer(color) {
        $.ajax({
            url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/player"))',
            data: JSON.stringify(party),
            cache: false,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            mapParty(data);
            RefreshPartyState();

            if (color == 'white') {
                ImWhitePlayer(data.WhiteToken);
            }
            else {
                ImBlackPlayer(data.BlackToken);
            }

            // on créé les cookies via le playerController de ce site
            $.ajax({
                url: "/Player/SetPlayerCookies",
                type: "get",
                data: { partyName: party.Name, token: $('#token').val() }
            });
        });
    }

    function ImBlackPlayer(token) {
        var partyHub = $.connection.partyHub;
        $('#displayname').val('Noirs');
        $('#isBlackPlayer').val('true');
        $('#token').val(token);
        $('#colorDiv').html('Vous jouez les noirs');
        $('#whiteBtn').addClass('hidden');
        $('#blackBtn').addClass('hidden');
        $('#blackIcon').removeClass('hidden');
        partyHub.server.sendAddBlackPlayer('@Model');
    }

    function ImWhitePlayer(token) {
        var partyHub = $.connection.partyHub;
        $('#displayname').val('Blancs');
        $('#isWhitePlayer').val('true');
        $('#token').val(token);
        $('#colorDiv').html('Vous jouez les blancs');
        $('#whiteBtn').addClass('hidden');
        $('#blackBtn').addClass('hidden');
        $('#whiteIcon').removeClass('hidden');
        partyHub.server.sendAddWhitePlayer('@Model');
    }

    function RefreshPartyState() {
        $('#infoDiv').html('');
        if (party.IsReady == true) {
            $('#infoDiv').html('Partie prête');
        }
        else if (isEmpty(party.BlackToken) == false) {
            $('#infoDiv').html('En attente du joueur blanc');
        }
        else if (isEmpty(party.WhiteToken) == false) {
            $('#infoDiv').html('En attente du joueur noir');
        }
        else {
            $('#infoDiv').html('En attente de joueurs');
        }

        $('#turnDiv').html('');
        if (party.WhiteTurn == true) {
            $('#turnDiv').html('Aux blancs de jouer');
        }
        else {
            $('#turnDiv').html('Aux noirs de jouer');
        }
    }

    function mapParty(data) {
        party.Id = data.Id;
        party.Name = data.Name;
        party.Board = data.Board;
        party.WhiteToken = data.WhiteToken;
        party.BlackToken = data.BlackToken;
        party.WhiteTurn = data.WhiteTurn;
        party.IsReady = data.IsReady;
    }

    function isEmpty(str) {
        return (!str || 0 === str.length);
    }


    $('#message').on('keyup', function (e) {
        if (e.keyCode === 13) {
            $('#sendmessage').click();
        }
    });
</script>

<!-- ligne avec les coups, le plateau et le tchat -->
<div class="row">
    <div class="col-md-3" id="moveDiv">
        <div class="panel panel-default">
            <div class="panel-heading" id="infoDiv"></div>
            <div class="panel-body">
                <img src="~/Content/Images/black_active.png" class="playerIcon hidden" id="blackIcon" />
                <img src="~/Content/Images/white_active.png" class="playerIcon hidden" id="whiteIcon" />
                <span id="colorDiv"></span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">
                <ul id="moves"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading" id="turnDiv"></div>
            <div class="panel-body">
                <div class="centerBlock">
                    @Html.Partial("_Board")
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Tchat</div>
            <div class="panel-body">
                <textarea id="message" rows="2" cols="40"></textarea>
                <input type="button" id="sendmessage" value="Ok" />
                <input type="hidden" id="displayname" value="Lurker" />
                <br /><br />
                <ul id="discussion"></ul>
            </div>
        </div>

    </div>
</div>


